body {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(119, 97, 26, 0.883);
  padding: 1rem;
  height: 15vh;
}

.title {
  color: white;
  margin: 1rem 0 0 1rem;
}

header > p {
  color: white;
  margin: 0 0 0 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 80vh;
  background-color: beige;
  padding: 0;
  margin: 0;
}

.sec {
  display: flex;
  background-color: transparent;
  padding: 2px;
  flex-direction: column;
}

.left {
  align-content: center;
  width: 40%;
}

.right {
  align-content: center;
  width: 60%;
}

span {
  margin: 0;
  padding:0;
}

.taskInput {
  width: 50%;
  margin: 1rem;
}

.addBtn {
  width: 30%;
  margin: 1rem;
}

/* Tasklist */

.listDisplay {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}

.listDisplay:not(:empty) {
  overflow-y: scroll;
}

/* TaskItem */

.taskItem {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  padding: 0;
  text-align: right;
  margin: 5px;
  max-width: 30%;
  min-width: 30%;
  background-color: rgba(255, 208, 0, 0.678);
  transition: all 1s ease 1s;
  display: inline-block;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  width: 99%;
  }

.taskName {
  padding: 10px 0 1px 2px;
  background: rgba(206, 127, 10, 0.87);
}

.note {
  background: transparent;
  height: 5rem;
}