body {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(119, 97, 26, 0.883);
  padding: 1rem;
  height: 15vh;
}

.title {
  color: white;
  margin: 1rem 0 0 1rem;
}

header > p {
  color: white;
  margin: 0 0 0 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 85vh;
  background-color: beige;
  padding: 0;
  margin: 0;
}

.sec {
  display: flex;
  background-color: transparent;
  padding: 2px;
  flex-direction: column;
}

.left {
  align-content: center;
  width: 40%;
}

.right {
  align-items: flex-start;
  width: 60%;
}

span {
  margin: 0;
  padding:0;
}

input {
  width: 50%;
  margin: 1rem;
}

.addBtn {
  width: 30%;
  margin: 1rem;
}

/* Tasklist */

.listDisplay {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}

.listDisplay:not(:empty) {
  overflow-y: auto;
}

.dropdown {
  position: relative;
  display: inline;
  padding-left: 3px;
}

.dropbtn {
  border:none;
  background: transparent;
  padding:0;
  width: auto;
  font-size: 3rem;
  color: rgba(170, 160, 160, 0.918);
  margin:0;
  cursor: pointer;
} 

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent p {
  color: black;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent p:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  text-shadow:0 1px 4px rgba(0, 0, 0, 0.26);
}

/* TaskItem */

.taskItem {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 5px;
  max-width: 30%;
  min-width: 30%;
  background-color: rgba(255, 208, 0, 0.678);
  transition: all 1s ease 1s;
  display: inline-block;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  width: 100%;
  display: block;
  }

.taskName {
  padding: 5px;
  background: rgba(206, 127, 10, 0.87);
}

.note {
  background: transparent;
  height: 5rem;
  padding: 0 5px 0 5px;
  margin: 1rem 0 1rem 0;
  color: rgb(44, 8, 8);
}

.date {
  color: rgba(65, 62, 62, 0.685);
  float: left;
  padding: 5px;
  margin: 0;
}

.taskBtn {
  padding: 2px;
  height: auto;
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
}
